.header {
  background-color: #1c2b35;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}
.header a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-left: 40px;
}
.header a:hover {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 5px;
}
